<!-- drawing.component.html -->
<canvas #myCanvas width="500" height="500" style="border: 1px solid #d3d3d3">
  Ваш браузер не поддерживает элемент canvas.
</canvas>

<button (click)="clearCanvas()">Очистить</button>

<button (click)="checkPointInsidePolygon()">Проверить точку на вхождение в полигон</button>
<button (click)="savePolygon()">Сохранить полигон</button>

<button (click)="startDrawingPolygon()">Начать рисовать полигон</button>
<button (click)="startDrawingPoint()">Начать рисовать точку</button>

<select (change)="onPolygonSelect($event)">
    <option *ngFor="let polygon of polygons" [value]="polygon.id">{{polygon.name}}</option>
   </select>

   <p *ngIf="isPointInsidePolygon !== undefined">
    Точка {{ isPointInsidePolygon ? 'входит' : 'не входит' }} в полигон.
   </p>